---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mentions Légales - Sovkipik">
    <div class="bg-forest text-white py-16">
        <div class="container mx-auto px-4 text-center">
            <h1 class="text-4xl font-bold mb-4">Mentions Légales</h1>
            <p class="text-xl opacity-90">
                Informations juridiques concernant le site Sovkipik
            </p>
        </div>
    </div>

    <section
        class="container mx-auto px-4 py-12 max-w-4xl prose prose-lg prose-forest"
    >
        <div
            class="bg-white p-8 md:p-12 rounded-3xl shadow-sm border border-beige-dark/10"
        >
            <h2>1. Éditeur du site</h2>
            <p>
                Le site <strong>Sovkipik</strong> (ci-après "le Site") est édité par
                :<br />
                <strong>Anthony COURTIN</strong><br />
                Adresse e-mail : contact@sovkipik.com<br />
            </p>

            <h2>2. Hébergement</h2>
            <p>
                Le Site est hébergé par :<br />
                <strong>Netlify</strong><br />
                Siège social : 2325 3rd Street, Suite 215, San Francisco, California
                94107, USA.<br />
                Site web : https://www.netlify.com
            </p>

            <h2>3. Propriété intellectuelle</h2>
            <p>
                L’ensemble de ce site relève de la législation française et
                internationale sur le droit d’auteur et la propriété
                intellectuelle. Tous les droits de reproduction sont réservés, y
                compris pour les documents téléchargeables et les
                représentations iconographiques et photographiques.
            </p>
            <p>
                La reproduction de tout ou partie de ce site sur un support
                électronique quel qu’il soit est formellement interdite sauf
                autorisation expresse du directeur de la publication.
            </p>

            <h2>4. Responsabilité</h2>
            <p>
                Les informations fournies sur le site Sovkipik le sont à titre
                indicatif. L’éditeur ne saurait garantir l’exactitude, la
                complétude, l’actualité des informations diffusées sur le site.
                En conséquence, l’utilisateur reconnaît utiliser ces
                informations sous sa responsabilité exclusive.
            </p>
            <p>
                Le site contient des liens hypertextes vers d’autres sites.
                Sovkipik n’est pas responsable du contenu de ces sites tiers.
            </p>
        </div>
    </section>
</Layout>
